/* Projects component styles */

.projects {
  padding: 24px;
  background-color: var(--color-accent-weak);
  color: var(--color-background);
}

.projectsGrid {
  display: flex;
  gap: 16px;
  flex: 1 1 200px;
}

.blobLine {
  margin: auto;
  background-color: var(--color-background);
  margin-bottom: -1px;
  transform: translateY(24px);
  z-index: -1;
}