/* ProjectCard component styles */

.projectCard {
  --outer-radius: 24px;
  --padding: 16px;

  border-radius: var(--outer-radius);
  padding: var(--padding);
  background-color: var(--color-background-strong);
  color: var(--color-background);
  flex: 1 1 200px;
}

.imgWrapper {
  height: 330px;
  overflow: hidden;
  border-radius: calc(var(--outer-radius) - var(--padding));
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.projectCard :is(h3, p, a, .link) {
  margin: 8px 0;
}