/* Hero component styles */

.heroSection {
    background-color: var(--color-background);
    margin: 0 auto;
    overflow: hidden;
}

.hero {
    position: relative;
    aspect-ratio: 5/2;
    min-width: 768px;
    container-type: inline-size;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        left: 60%;
        transform: translateX(-50%);
    }
        
}

.blobContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blob {
    max-width: revert;
    position: relative;
    display: block;
    width: 80cqw;
    height: auto;
    z-index: -1;
}

.blobdk {
    transform: translate(440px, 270px);
    transition: transform 0.3s ease;

    @media screen and (max-width: 768px) {
        transform: translate(200px, 270px);
    }
}

.blobGrey {
    transform: translate(580px, -90px);
    transition: transform 0.3s ease;

    @media screen and (max-width: 768px) {
        transform: translate(200px, 270px);
    }
}

.textContent {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.title {
    font-size: 4cqw;
    padding: 0;
}

.subtitle {
    font-size: 3cqw;
    padding: 0;
}