/* Hero component styles */

.heroSection {
    background-color: var(--color-background);
    margin: 0 auto;
    padding-bottom: 20px;
}

.hero {
    position: relative;
    aspect-ratio: 5/2;
    min-width: 768px;
    container-type: inline-size;
    overflow: visible;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        left: 60%;
        transform: translateX(-50%);
    }
    
}

.splineContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.blobContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blob {
    /* max-width: revert; */
    overflow: visible;
    position: relative;
    display: block;
    width: 80cqw;
    height: auto;
    z-index: -1;
}

.blobdk {
    transform: translate(440px, 270px);
    transition: transform 0.3s ease;
    filter: url(#depthDither);

    @media screen and (max-width: 768px) {
        transform: translate(200px, 270px);
    }
}

.blobGrey {
    transform: translate(470px, 20px);
    transition: transform 0.3s ease;
    filter: url(#depthDither);

    @media screen and (max-width: 768px) {
        transform: translate(200px, 270px);
    }
}

.blobMain {
    filter: url(#depthDither);
}

.textContent {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.title {
    font-size: 4cqw;
    padding: 0;
}

.subtitle {
    font-size: 3cqw;
    padding: 0;
}
