/* Global utility classes and base styles */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root{
  background-color: var(--color-background);
  font-family: "Space Mono", monospace;
}

h2 {
  /* padding-bottom: 24px; */
}

p {
  font-size: var(--text-base);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

section h2 {
  padding-bottom: 24px;
}

.shadow{
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);


}