/* Skills component styles */

.skills {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

.skillsSection h2 {
    padding-top: 32px;
}