/* Header component styles */

.header {
    background-color: var(--color-background);
    padding: 16px;
}

.nav {
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
}

.menuList {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-accent-weak);
    border-radius: 20px;
    padding: 8px;
    font-size: var(--text-lg);
    color: var(--color-background-strong);    
}

.menuList a:visited{
    color: inherit;
}